.repository-card-container {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	min-width: 360px;

	padding: 1.5rem 0 0 0;
	background: var(--white-010);
	border-radius: 0.5rem;

	box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
	overflow: hidden;

	.body {
		display: flex;
		flex: 1;
		flex-direction: column;
		justify-content: space-between;
		padding: 0 2rem;

		.title-and-description {
			h2 {
				font-size: 1.5rem;
				line-height: 1.625rem;
				margin-bottom: 1rem;
			}
		
			p.description {
				font-size: 0.875rem;
				line-height: 1.3125rem;
				margin-bottom: 1rem;
				font-weight: 300;
		
				display: -webkit-box;
				overflow: hidden;
				text-overflow: ellipsis;
				-webkit-line-clamp: 4;
				-webkit-box-orient: vertical;
			}
		}
	}

	.last-update-and-language {
		display: flex;
		justify-content: space-between;
		align-items: center;

		p.update {
			font-size: 0.75rem;

			.data {
				font-weight: 500;
			}
		}
	
		span.tag {
			font-weight: 500;
			font-size: 0.75rem;
			padding: 0.25rem 0.5rem;
			border-radius: 0.25rem;
			background: var(--primary-500);
			color: var(--white-010);
		}
	}

	footer {
		margin-top: 1rem;
		display: flex;
	}
}